img{
    border-radius: 25px;
    box-shadow: 2px 2px 2px grey;
    margin-left: 27px;
}
.userdiv{
    width: 110px;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    padding: 10px;
    background-color: aliceblue;
    border-color: darkolivegreen;
    box-shadow: 2px 2px 2px greenyellow;
    margin: 4px 5px 10px 7 px;
}