<h1>{{title}}</h1>
<hr/>
<div class="navbar">
    <a routerLink="/greet">Home</a>
    <span> | </span>
    <a routerLink="/bindings">User Management</a>
    <span> | </span>
    <a routerLink="/toggle">Conditional Output</a>
    <span> | </span>
    <a routerLink="/lightening">LightUp</a>
    <span> | </span>
    <a routerLink="/pipes">Formatters</a>
    <span> | </span>
    <a routerLink="/fbservice">Service</a>
    <span> | </span>
    <a routerLink="/http">Call Http Service</a>
    <span> | </span>
    <a routerLink="/users">Http Users</a>
</div>


<!-- <app-greet></app-greet> -->
<!-- <app-bindings></app-bindings> -->
<router-outlet></router-outlet>